/* ****************** generics ************************************* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
/* ********************* containers ******************* */
#body-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-basis: 25px;
}

main {
  background-color: brown;
  flex-grow: 1;
}

footer {
  background-color: #222222;
  flex-basis: 80px;
}

/* ******************** utilities ********************* */

.btn {
  background-color: #4a4a4a;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

/* *********************** header *********************** */
header {
  text-align: right;
  margin: 10px 5px;
}
